html,
body {
  color: #21232a;
  background-color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.3rem;
  margin: 0;
}

button{
  font-size: 1.3rem;
  padding:10px;
  margin-right: 10px;
}
